<!DOCTYPE html>

<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if current_user.nil? %>
    <%= "Sign In" %>
    <% else %>
    <%= current_user.username %>
    <% end %>
    <%= yield %>
  </body>
</html>
