<h1> List of cats <h1>
<ul>

 <% @cats.each do |cat| %>
  <ul><li><%=cat.birth_date%></li>
  <li><%=cat.color%></li>
  <li><%=cat.name%></li>
  <li><%=cat.sex%></li>
   <li><%= cat.description%></li>
  </ul>
 <% end %>

<ul>